* /* aspectos generales de la web */{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, verdana;
}

body {
	background: #231E20;
}

header, .main, footer {
	width: 90%;
	max-width: 90%;
	margin: 20px auto;
}

.button1 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.image {
	border-radius: 10px;
	width: 70%;
	height: 300px;
}

.image1 {
	border-radius: 10px;
	width: 50%;
	height: 300px;
}

header nav {
	position: fixed;
	margin-top: 0;
	padding: 10px;
	background: #59595B;
	overflow: hidden;
	border-radius: 5px;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	margin: auto;
	background: #F36522;
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

header nav ul li a:hover {
	color: #000;
}

nav {
	position: fixed;
}

.main .article {
	width: 68.5%;
	margin-right: 1.5%;
	float: left;
	border-radius: 10px
}

.main .article article {
	padding: 20px;
	background: #414143;
	margin-bottom: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

.contenidop, aside {
	margin-top: 100px !important;
}

aside {
	width: 30%;
	margin-top: 10px;
	background: #6E6C72;
	float: left;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}

footer {
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px;
	border-radius: 10px
}

.footer {
	text-align: center
}

h2, h3, p {
	text-align: justify;
	margin-top: 15px;
}