* /* aspectos generales de la web */{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, verdana;
}

body {
	background: #231E20;
	color: #000;
	z-index: -99 !important;
}
header{
	z-index: 999999 !important;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	margin: auto;
}
header nav {
	position: fixed !important;
	background-color: #f36522;
	border-radius: 10px;
}

/* bnt 1 */
#btn{
    background: white;
    border: none;
    cursor: pointer;
}
#btn::before{
    content: 'Website';
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

#btn::after{
    content: 'website #1';
    transform: translate(-50%, -50%) scale(1);
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    transition: .2s ease;
    opacity: 0;
}

#btn:hover::before{
    transform: translate(-50%, -50%s) scale(3);
    opacity: 0;
}

#btn:hover::after{
    transform: translate(-50%, -50%s) scale(1);
    opacity: 1;
}
/*  */
.animate__animated .animate__flipInX{
	animation-duration: 4s;
}
footer{
	color: white;
}

header, .main, footer {
	width: 90%;
	max-width: 90%;
	margin: 20px auto;
}
.image {
	border-radius: 10px;
	width: 70%;
	height: 300px;
}

.image1 {
	border-radius: 10px;
	width: 50%;
	height: 300px;
}

.main .article {
	float: left;
	border-radius: 10px
}

.main .article article {
	padding: 20px;
	background: #414143;
	margin-top: 10px;
	border-radius: 10px;
}

.contenidop, aside {
	margin-top: 100px !important;
}

aside {
	margin-top: 10px;
	margin-bottom: 20px;
	background: #6E6C72;
	float: left;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}

footer {
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.footer {
	text-align: center
}

h2, h3, p {
	text-align: justify;
	margin-top: 15px;
}