* {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, verdana;
	box-sizing: border-box;
}
body {
	background: #231E20;
	color: #000;
}

.button1 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.button {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
header{
	z-index: 99999 !important;
	margin-top: 20px !important;
	display: flex;
	justify-content: center;
	margin: auto;
}

header nav {
	position: fixed;
	padding: 10px;
	background: #59595B;
	overflow: hidden;
	border-radius: 5px;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	margin: auto;
	background: #F36522;
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

header nav ul li a:hover {
	color: #000;
	text-decoration: none;
}

header, .contenido, footer {
	max-width: 90%;
	margin: 20px;
}

header div img {
	width: 35%;
}

header section article h2, p {
	padding: 15px;
}

.animate__animated .animate__flipInX{
	animation-duration: 4s;
}

.contenido .contenidop article {
	background: #414143;
	margin-bottom: 20px;
	border-radius: 10px;
	height: auto;
}

.main .article {
	margin-top: 65px !important;
	background: #414143;
	float: left;
	border-radius: 10px;
	display: flex;
	align-content: center;
	margin: auto;
}

.main .article p, h2{
	margin-top: 25px;
}

.imagen {
	margin: 10px 20px; 
	float: left;
	height: 250px;
}

.contenidop {
	background: #414143;
	float: left;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 20px;
}

.lightpink {
	margin-top: 20px;
	max-width: 97%;
}

aside h3 {
	text-align: center;
}

aside {
	align-content: center;
	display: flex;
	margin: auto;
	margin: 10px;
	margin-left: 20px !important;
	background: #6E6C72;
	border-radius: 10px;
	box-sizing: border-box;
}

aside article p {
	padding: 0px 10px; 
	width: 70%;
	text-align: justify;
	padding: 10px;
}

.manzana {
	border-radius: 10px;
	padding: 10px;
	margin: auto;
	width: 80%;
}

/* Cards */

.carta {
  	height: 215px;
  	margin: 35px;
  	float: left;
  	border-radius: 10px;
}

.carta p {
	padding: 0px;
	margin: 0px;
}

.orange {
	margin-bottom: 10px;
	width: 150px;
	border-radius: 10px;
}

footer {
	margin: 20px 20px; 
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}

.footer {
	text-align: center
}


